.genesys.sheet {
   .sheet-header {
      display: flex;
      padding: 8px;
      gap: 8px;
      align-items: center;
      width: 100%;

      .entity-img {
         height: 40px;
         border: 1px solid var(--genesys-orange);
         background-color: rgba(239, 175, 97, 0.5);
         border-radius: 8px;
      }

      .document-name {
         width: 100%;
         font-family: 'Modesto Condensed', sans-serif;
         font-size: 32px;
         color: var(--genesys-blue);
         border-bottom: 2px solid var(--genesys-dark-blue);
         

         input {
            width: 100%;
            --input-text-color: var(--genesys-dark-blue);

            &:focus {
               font-family: 'Modesto Condensed', sans-serif;
            }
         }
      }
   }

   .sheet-source {
      margin: auto 8px 3px;
      padding: 0 15px;
      border-top: 1px dashed black;
      font-family: 'Roboto Serif', serif;
      font-size: 13px;
      font-style: italic;
      color: black;

      &:has(> input) {
         height: 36px;
         line-height: 36px;
         padding: 0 10px;

         input {
            width: 100%;
            text-overflow: ellipsis;
            text-align: right;
            padding: 0 5px;
         }
      }

      &:has(> div) {
         height: 26px;
         line-height: 26px;

         & > div {
            white-space: preserve-spaces;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
         }
      }
   }
}