.genesys.sheet {
   &.application:not(&.minimizing, &.maximizing, &.minimized) {
      min-width: 536px;
      min-height: 400px;
   }

   .skill-header {
      display: flex;
      flex-direction: row;
      align-items: center;

      select {
         --input-text-color: var(--genesys-blue);
         border: 1px solid black;
         border-radius: 4px;

         margin: 8px 8px 8px 0;
         padding-left: 8px;
         width: auto;
         font-family: 'Modesto Condensed', sans-serif;

         &:focus, &:hover {
            border: 1px solid transparent;
            border-radius: 0;
         }
      }
   }

   .skill-main {
      display: flex;
      flex-direction: column;
      padding: 8px;
      gap: 8px;
      height: 100%;
      flex-shrink: 1;

      label.skill-category {
         display: flex;
         flex-direction: row;
         gap: 8px;
         align-items: baseline;
         height: 30px;
         line-height: 30px;

         .caption {
            font-weight: 500;
            font-size: 18px;
         }

         input {
            --input-text-color: black;
         }
      }

      .skill-description {
         height: 100%;
         flex-grow: 1;
      }
   }
}