.genesys.sheet.skill-app {
   &.application:not(&.minimizing, &.maximizing, &.minimized) {
      min-width: 536px;
      min-height: 374px;
   }

   .skill-header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .skill-sub-header {
         width: 100%;
      }

      select {
         --input-text-color: var(--genesys-color-blue-primary);
         width: auto;
         margin: 8px 8px 8px 0;
         font-family: var(--genesys-font-tertiary);
         font-size: 20px;
      }

      .skill-rank {
         --gtemp-rank-color: var(--genesys-color-white-primary);
         display: flex;
         border-radius: 25px;
         font-size: 30px;
         height: 40px;
         width: 40px;
         margin: auto 8px auto 0;
         flex-shrink: 0;
         justify-content: center;
         align-items: center;
         position: relative;

         &:not(:has(> i)) {
            --gtemp-rank-color: var(--genesys-color-black-primary);
            border: 3px dotted var(--genesys-color-red-primary);
         }

         i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--genesys-color-red-primary);
            font-size: 40px;
            z-index: 0;
         }

         div {
            color: var(--gtemp-rank-color);
            z-index: 1;
         }
      }
   }

   .skill-main {
      display: flex;
      flex-direction: column;
      padding: 0 8px;

      .skill-category {
         display: flex;
         flex-direction: row;
         gap: var(--genesys-element-gap);
         height: var(--genesys-element-height);
         line-height: var(--genesys-element-height);
         align-items: center;
         font-family: var(--genesys-font-primary);

         .caption {
            font-family: var(--genesys-font-secondary);
            font-size: 18px;
         }

         input {
            width: 100%;
         }
      }
   }
}