<section class="skill-header">
   {{>"systems/ak-genesys/tplt/sheets/CommonView[header].hbs"}}
   {{#if mode.edit}}
      <select name="system.characteristic">
         {{#each systemFields.characteristic.choices}}
            <option value="{{this}}" {{#if (eq this @root.system.characteristic)}}selected{{/if}}>
               {{localize (concat "GENESYS.values.characteristic." this ".label")}}
            </option>
         {{/each}}
      </select>
   {{/if}}
</section>